@charset "UTF-8";

@media screen and (min-width:600px) {
    body {
        background-image: linear-gradient(to top, #49a09d, purple); 
     }

     #img {
        position: relative;
        left: 25%;
        top: 55%
     }
     
     #login {
        width: 500px;
     }
     
}